<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="macbook-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Macbooks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="macbook-link">
                <a href="" class="dropdown-item">Macbook Air</a>
                <a href="" class="dropdown-item">Macbook Pro</a>
                <a href="" class="dropdown-item">Macbook Mini</a>
                <a href="" class="dropdown-item">All Macbooks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="iphone-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                iPhones
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="iphone-link">
                <a href="" class="dropdown-item">iPhone 11</a>
                <a href="" class="dropdown-item">iPhone 12</a>
                <a href="" class="dropdown-item">All iPhones</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="watch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apple Watches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="watch-link">
                <a href="" class="dropdown-item">Series 4</a>
                <a href="" class="dropdown-item">Series 5</a>
                <a href="" class="dropdown-item">All Watches</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ipad-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                iPads
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ipad-link">
                <a href="" class="dropdown-item">iPad Air</a>
                <a href="" class="dropdown-item">iPad Pro</a>
                <a href="" class="dropdown-item">All iPads</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>