{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <hr>
        <h5 class="logo-font mb-4 text-center text-white">Articles about Apple products we sell</h5>
    <hr>
    <div class="card-group bg-white py-5">
        <div class="card text-center text-black bg-white mb-3 mx-2">
            <img class="card-img-top" src="{{MEDIA_URL}}cards/macbook.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Macbook</h5>
                <p class="card-text text-justify">Welcome to the future of Mac! New MacBook Air Power. It’s in the Air. Or...New 13-inch model MacBook Pro All systems Pro.</p>
                <a href="https://www.apple.com/mac/" class="btn btn-secondary" target="_black">Read more</a>
            </div>
        </div>
        <div class="card text-center text-black bg-white mb-3 mx-2">
            <img class="card-img-top" src="{{MEDIA_URL}}cards/iphone.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">iPhone</h5>
                <p class="card-text text-justify">iPhone 12 Pro It’s a leap year. Blast, Past, fast. Which iPhone is right for you? Check them all out over here...</p>
                <a href="https://www.apple.com/iphone-12-pro/" class="btn btn-secondary" target="_black">Read more</a>
            </div>
        </div>
        <div class="card text-center text-black bg-white mb-3 mx-2">
            <img class="card-img-top" src="{{MEDIA_URL}}cards/watch.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">Watch</h5>
                <p class="card-text text-justify">The future of health is on your wrist. Watch SE - Heavy on features. Light on price. Which Apple Watch is right for you?</p>
                <a href="https://www.apple.com/watch/" class="btn btn-secondary" target="_black">Read more</a>
            </div>
        </div>
        <div class="card text-center text-black bg-white mb-3 mx-2">
            <img class="card-img-top" src="{{MEDIA_URL}}cards/ipad.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">iPad</h5>
                <p class="card-text text-justify">New iPad Air Powerful. Colorful. Wonderful. New iPad Delightfully capable. Surprisingly affordable. iPad Pro The ultimate iPad experience.</p>
                <a href="https://www.apple.com/ipad/" class="btn btn-secondary" target="_black">Read more</a>
            </div>
        </div>
    </div>

    <hr>
        <h5 class="logo-font mb-4 text-center text-white">Articles about other Apple products</h5>
    <hr>

    <div class="card-group bg-white py-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-black">
                <div class="card-body">
                    <h5 class="card-title">AirPods Max</h5>
                    <p class="card-text">Introducing AirPods Max — a perfect balance of exhilarating high-fidelity audio and the effortless magic of AirPods. The ultimate personal listening experience is here.</p>
                    <a href="https://www.apple.com/airpods-max/" target="_black" class="btn btn-secondary">Read more</a>
                </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card text-black">
                <div class="card-body">
                    <h5 class="card-title">Apple TV</h5>
                    <p class="card-text">Apple TV 4K lets you watch movies and shows in amazing 4K HDR and with Dolby Atmos sound. With more ways to watch, play, and connect, Apple TV 4K delivers the best viewing and listening experience in your home.</p>
                    <a href="https://www.apple.com/apple-tv-4k/" target="_black" class="btn btn-secondary">Read more</a>
                </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card text-black">
                <div class="card-body">
                    <h5 class="card-title">AirPods</h5>
                    <p class="card-text">After a simple one-tap setup, AirPods are automatically on and always connected.1 Using them is just as easy. They sense when they’re in your ears and pause when you take them out.</p>
                    <a href="https://www.apple.com/airpods-2nd-generation/" target="_black" class="btn btn-secondary">Read more</a>
                </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card text-black">
                <div class="card-body">
                    <h5 class="card-title">AirPods Pro</h5>
                    <p class="card-text">We refined the details of comfort, creating a new class of in-ear headphones with a customizable fit that forms an exceptional seal for Active Noise Cancellation. You’ll feel your music, not your headphones.</p>
                    <a href="https://www.apple.com/airpods-pro/" target="_black" class="btn btn-secondary">Read More</a>
                </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card text-black">
                <div class="card-body">
                    <h5 class="card-title">HomePod</h5>
                    <p class="card-text">HomePod is a breakthrough speaker that adapts to its location and delivers high-fidelity audio wherever it’s playing. Together with Apple Music and Siri, it creates an entirely new way for you to discover and interact with music at home.</p>
                    <a href="https://www.apple.com/homepod-2018/" target="_black" class="btn btn-secondary">Read More</a>
                </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card text-black">
                <div class="card-body">
                    <h5 class="card-title">iPod Touch</h5>
                    <p class="card-text">Your music, wherever you go. Love music? You can keep more songs than ever on iPod touch, which now comes with up to 256GB of storage.</p>
                    <a href="https://www.apple.com/ipod-touch/" target="_black" class="btn btn-secondary">Read More</a>
                </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}